:root {
  --main-text-color: #757575;
  --heading-color: #212121;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --accent-bcg-color: #2f303a;
  --primary-white: #ffffff;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, cursive;
}
body {
  background-color: var(--primary-white);
  color: var(--main-text-color);
  font-family: var(--main-font);
}
body a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  color: var(--heading-color);
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-style {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--heading-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.contact-style {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-style:hover,
.contact-style:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--accent-bcg-color);
  color: var(--primary-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.main-style {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.feature-list .title {
  color: var(--heading-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.projects .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.projects .card-title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .card-description {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team-section .teammate-name {
  color: var(--heading-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-section .teammate-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.footer-style {
  background-color: var(--accent-bcg-color);
}
.footer-style .logo {
  color: var(--primary-white);
}
.footer-style .address-style {
  color: var(--primary-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.button {
  cursor: pointer;
  background-color: var(--secondary-background-color);
  border: none;
}
.button:hover,
.button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
}
/* цвет заголовков #212121 */
/* цвет основного текста #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* подвал и хиро #2F303A */
/* вторичный фон #F5F4FA */
